{% extends "layout.html" %}

{% block content %}
  
  {% if deleted %}
      <div class='alert alert-danger'>Aww Sookie. Page is deleted!</div>
  {% endif %}
  
  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> WikiStack Authentication</h1>

    <p>Login or Register with:</p>

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
  </div>

  {% if docs.length > 0 %}
    <ul>
      {% for doc in docs %}
        <li>{{ doc|page_link }}</li>
      {% endfor %}
    </ul>
  {% else %}
    There are no pages. Why don't you <a href='/add'>add one</a>?
  {% endif %}
  
{% endblock %}
