body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#page_control_panel {
  float:right;
}


#disambiguation_list li {
  display: block;
  padding: 14px;
}

#disambiguation_list li:hover {
  background-color: #ddd;
}

#disambiguation_list .excerpt_title {
  font: bold 20px arial,sans-serif;
}

#disambiguation_list .excerpt_text {
  color: #555;
  font: normal 14px arial,sans-serif;
}

